<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h3>{{ title }}</h3>
        <img src={{ image }} width=200 alt="No image found">
        <div class="contentZone">
			<ul>
                {% for item in abilities %}
                <li>
                    <span>{{ item.name }}</span>:
                    {{ item.image }}
                    {{ item.desc }}
                </li>
                {% endfor %}
            </ul>
            {{ flavor_text }}
        </div>
    </div>
</body>
</html>